body {
    background-color: #c58888;
    padding: 35px;
    padding-top: 15px;
    text-align: center;
}

.logo {
    width: 150px;
    height: 150px;
    padding: 35px;
    margin: auto;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #b1b0b0;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Alegreya SC', serif;
    font-size: 20px;
    font-weight: 700px;
    padding: 12px;
    margin: 5px;
    width: 240px;
    text-align: center;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #595555;
    color: white;
    cursor: pointer;
}

#modal-container {
    display: none;
}

.modal {
    font-family: 'Alegreya SC', serif;
    margin: auto;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(255, 215, 215, 0.85);
    /* background-color: #ffd7d7; */
}

.modal h1 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 36px;
}

.modal p {
    text-align: center;
    margin-bottom: 0;
}

#modal-container.is-visible {
    display: block;
    position: fixed;
    padding: 15px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    text-align: center;
}

.modal-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    width: 65%;
    height: auto;
}

.modal-close {
    font-family: 'Alegreya SC', serif;
    display: block;
    color: #dd3a3a;
    font-size: 11px;
    float: right;
    border: 1px solid black;
    border-radius: 4px;
}

.modal-close:hover {
    cursor: pointer;
    background-color: #c4c4c4;
}

@media all and (max-width: 500px) {
    ul {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 750px) and (max-width: 1000px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width: 1000px) and (max-width: 1250px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}