body {
    background-color: #c58888;
    padding: 35px;
    padding-top: 15px;
    text-align: center;
}

.logo {
    width: 150px;
    height: 150px;
    padding: 35px;
    margin: auto;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #b1b0b0;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Alegreya SC', serif;
    font-size: 20px;
    font-weight: 700px;
    padding: 12px;
    margin: 5px;
    width: 240px;
    text-align: center;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #595555;
    color: white;
}

@media all and (max-width: 500px) {
    ul {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 750px) and (max-width: 1000px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width: 1000px) and (max-width: 1250px) {
    ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}