body {
    background-color: #c58888;
    font-family: 'Alegreya SC', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    padding: 35px;
    padding-top: 15px;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    padding: 35px;
    margin: auto;
}

span {
    font-weight: 400;
}

.box {
    width: 600px;
    padding: 5px;
    border: 2px solid black;
    outline-style: solid;
    outline-width: 2px;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #b1b0b0;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    padding: 12px;
    margin: 5px;
    width: 250px;
    text-align: center;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #595555;
    color: white;
}

@media all and (max-width: 500px) {
    .box {
        width: 100%;
        margin: 0;
    }
}